{
    "extends": ["expo", "eslint:recommended", "prettier"],
    "rules": {
            "prettier/prettier": "error",
            "react-native/no-inline-styles": "off",
            "react/react-in-jsx-scope": "off"
    }
}