@use '../../../style/mixins' as m;

.CardsContainer {
  margin: 5px;
  width: 48%;
  height: 250px;
  border: 1px solid var(--sidebar-metallic);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  background: linear-gradient(
    135deg,
    var(--sidebar-metallic),
    var(--sidebar-metallic-dark),
    var(--sidebar-metallic)
  );
  position: relative;
  transition: all 0.2s ease;

  & svg {
    color: var(--glow-violet);
    width: 20px;
    height: auto;
  }
  &:hover {
    transform: scale(1.02);
    border-color: var(--glow-violet);
  }
}

.TitleText {
  font-family: var(--font-jet);
  font-weight: 700;
  font-size: 1.5rem;
}

.contentText {
  color: var(--metallic-light);
  font-family: var(--font-satochi);
  font-size: 1rem;
  font-weight: 400;
}

@include m.mobile-and-tablet-portrait {
  .CardsContainer {
    width: 100%;
  }
}
