@use '../style/mixins' as m;

.mainContent {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100dvh;
  overflow: hidden;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 20px 20px 320px;
  height: calc(100dvh - 40px);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@include m.mobile-and-tablet-portrait {
  .mainLayout {
    margin: 0px;
    height: 100vh;
  }
}

@include m.desktop-and-tablet-landscape {
  .mainLayout {
    margin: 20px 20px 20px 320px;
  }
}
