/**
* _variables.scss
* Ce fichier contient l'ensemble des variables utiliser dans l'application Kasa
*/

@import url('https://fonts.cdnfonts.com/css/satoshi');
$font-primary: 'Satoshi', sans-serif;

$color-primary: #2b2cae;
$color-secondary: #0aa7ec;
$color-text-Dark: #0d0e1d;
$color-text-light: #9da7bb;
