:root {
  --background: oklch(0.06 0.005 270);
  --foreground: oklch(0.88 0.01 270);
}

body {
  font-family: var(--font-jet);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
