.collapse {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  & h3,
  & span {
    margin: 0;
    font-size: 16px;
    color: black;
  }
}

.content {
  padding: 10px;
  & li {
    text-align: left;
    width: 30%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
  }
}
